<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if title is defined %}
        <title>Imag - {{ title | escape }}</title>
        <meta name="description" content="The Imag image board | {{ title | escape }}" />
        {% else %}
        <title>Imag</title>
        <meta name="description" content="The Imag image board" />
        {% endif %}

        <meta
            name="keywords"
            content="imageboard, image board, image, image hosting"
        />
        <meta
            name="robots"
            content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
        />
        <meta property="og:type" content="website" />

        <meta name="color-scheme" content="dark" />
        <meta name="theme-color" content="black" />

        <meta name="license" content="Unlicense" />

        <!-- preloads the css ( technically you can replace it with a style tag -->

        <script type="text/javascript">
            <!--//--><![CDATA[//><!--
            /**
             * @licstart The following is the entire license notice for the JavaScript
             * code in this page.
             *
             * This is free and unencumbered software released into the public domain.
             *
             * Anyone is free to copy, modify, publish, use, compile, sell, or
             * distribute this software, either in source code form or as a compiled
             * binary, for any purpose, commercial or non-commercial, and by any
             * means.
             *
             * In jurisdictions that recognize copyright laws, the author or authors
             * of this software dedicate any and all copyright interest in the
             * software to the public domain. We make this dedication for the benefit
             * of the public at large and to the detriment of our heirs and
             * successors. We intend this dedication to be an overt act of
             * relinquishment in perpetuity of all present and future rights to this
             * software under copyright law.
             *
             * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
             * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
             * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
             * IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
             * OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
             * ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
             * OTHER DEALINGS IN THE SOFTWARE.
             *
             * For more information, please refer to <http://unlicense.org/>
             *
             * @licend The above is the entire license notice for the JavaScript code
             * in this page.
             */
            //--><!]]>
        </script>

        <link
            href="{{ url_for("static", filename="index.css") }}"
            rel="preload"
            referrerpolicy="no-referrer"
            type="text/css"
            as="style"
            onload="this.onload=null;this.rel='stylesheet'"
        />
        <noscript>
            <link
                href="{{ url_for("static", filename="index.css") }}"
                rel="stylesheet"
                referrerpolicy="no-referrer"
                type="text/css"
            />
        </noscript>

        <script src="{{ url_for("static", filename="index.js") }}" defer></script>
    </head>

    <body>
        <h1>The <a href="https://ari.lt/gh/imag">Imag</a> image board ({{ imagv }}).</h1>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <details open>
            <summary>messages from the server</summary>
            {% for category, message in messages %}
                <div data-category="{{ category }}">{{ message | escape }}</div>
            {% endfor %}
            </details>
            {% endif %}
        {% endwith %}

        <div>
            <form method="GET" action="/search">
                <label for="q">Search query:</label>
                <input type="text" name="q" id="q" placeholder="query" {% if q is defined %} value="{{ q | escape }}" {% endif %} required />
                <button type="submit">Search</button>
                {% if q is defined and "s=newest" not in request.url %} <a href="{{ request.url }}&s=newest">Sort by newest</a> {% endif %}
                {% if q is defined %} <a href="/">Back home</a> {% endif %}
            </form>

            <i>Count: {{ images | length }}</i>

            {% if q is not defined and "s=newest" not in request.url %} <a href="/?s=newest">Sort by newest</a> {% endif %}

            <details>
                <summary>Or post an image</summary>

                <form method="POST" enctype="multipart/form-data">
                    <label for="desc">Image description:</label>
                    <input type="text" name="desc" id="desc" placeholder="description" maxlength="{{ desc_len }}" />

                    <br />

                    <label for="key">Access key:</label>
                    <input type="password" name="key" id="key" placeholder="key" maxlength="{{ key_len }}" required />

                    <br />

                    <label for="image">Image:</label>
                    <input type="file" accept="image/*" name="image" id="image" placeholder="the image" required />

                    <br />

                    <button type="post">Post</button>
                </form>
            </details>
        </div>

        <br />
        <hr />
        <br />

        {% if images %}
            {% for image in images %}
            <div class="image" id="{{ image.iid }}">
                <a target="_blank" href="{{ url_for("views.image", iid=image.iid) }}">
                    <img loading="lazy" src="{{ url_for("views.image", iid=image.iid) }}" alt="{{ image.ocr | escape }}" />
                </a>
                <p><span id="score-{{ image.iid }}">{{ image.score }}</span> | <button onclick="vote('up',{{ image.iid }})" title="upvote">👍</button> or <button onclick="vote('down',{{ image.iid }})" title="downvote">👎</button></p>
                <p>{{ (image.desc or "No description.") | escape }}</p>
                <p>Created: <date>{{ image.created }}</date> - Edited: <date>{{ image.edited }}</date></p>
                <details>
                    <summary>Edit image with ID {{ image.iid }}</summary>

                    <form method="POST" action="{{ url_for("views.edit", iid=image.iid) }}" enctype="multipart/form-data">
                        <label for="desc">Image description:</label>
                        <input type="text" name="desc" id="desc" placeholder="description" maxlength="{{ desc_len }}" value="{{ (image.desc or "") | escape }}" />

                        <br />

                        <label for="key">Access key:</label>
                        <input type="password" name="key" id="key" placeholder="key" maxlength="{{ key_len }}" required />

                        <br />

                        <label for="image">Replace image:</label>
                        <input type="file" accept="image/*" name="image" id="image" placeholder="the image" />

                        <br />

                        <label for="delete">Delete image:</label>
                        <input type="checkbox" name="delete" id="delete" />

                        <br />

                        <button type="post">Commit changes</button>
                    </form>
                </details>
            </div>
            {% endfor %}
        {% else %}
            <i>No images found :(</i>
        {% endif %}
    </body>
</html>
